---
import Layout from "../layouts/Layout.astro";
import Ingredients from "@/components/Ingredients.tsx";
---

<Layout>
	<main class="container mx-auto grid sm:grid-cols-2">
		<div class=""></div>
		<div class="">
			<Ingredients client:load />
		</div>
	</main>
</Layout>
